astroid==3.3.5
asttokens==2.4.1
dill==0.3.9
docutils==0.21.2
gunicorn==25.3.0
isort==5.13.2
jedi==0.19.1
mccabe==0.7.0
mypy==1.12.1
mypy-extensions==1.0.0
packaging==26.1
parso==0.8.4
platformdirs==4.3.6
pylint==3.3.1
pyserial==3.5
Send2Trash==1.8.3
six==1.16.0
thonny==4.1.6
tomlkit==0.13.2
typing_extensions==4.12.2
